@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

body {
    margin: 0;
}

.bg-container {
    min-height: 100vh;
    background-color: #33FFF3;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 48px;
    padding-bottom: 48px;
    overflow: auto;
}

.image {
    height: 120px;
    border-radius: 10px;
}

.top-content {
    display: flex;
    justify-content: space-between;
}

.heading {
    font-family: "Bree Serif";
    font-size: 40px;
    font-weight: bold;
    color: #121A58;
    text-align: center;
}

@media (min-width:768px) {
    .bg-container {
        display: flex;
        justify-content: center;
        padding: 30px;
        flex-wrap: wrap;
        padding-right: 50px;
    }

    .top-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .heading {
        text-align: left;
        font-size: 50px;
        margin-bottom: 40px;
    }

    .image {
        height: 350px;
        width: 80%;
    }

}

.card-heading {
    font-size: 24px;
    font-family: "Comic Sans MS";
    color: #ffffff;
}

.content {
    display: flex;
    flex-direction: column;
}

.card-container {
    margin-top: 20px;
    padding: 30px;
    border-radius: 10px;
    background-color: #2F4D3E;
    overflow: auto;
}

@media (min-width:768px) {
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.input {
    min-width: 60%;
    border-radius: 10px;
    border-width: 0px;
    padding: 8px;
}

.add-con {
    display: flex;
    justify-content: space-between;
}

.add-btn {
    margin-left: 10px;
    background-color: #33FFF3;
    color: #121A58;
    font-family: "Bree Serif";
    font-weight: bold;
    font-size: 16px;
    border-radius: 15px;
    border-width: 0px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: flex-start;
}

.add-btn:hover {
    background-color: yellow;
}

.save-btn {
    margin: 10px;
    background-color: #2F4D3E;
    color: #33FFF3;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 16px;
    border-radius: 10px;
    border-width: 0px;
    padding-left: 38px;
    padding-right: 38px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
}

.save-btn:hover {
    background-color: black;
}

.todo-items-container {
    margin-top: 30px;
    background-color: #33FFF3;
    border-radius: 10px;
    padding: 10px;
}

.my-todos {
    font-size: 24px;
    font-family: "Comic Sans MS";
    font-weight: bold;
    text-align: center;
    color: #2F4D3E;
}

.items-container {
    margin: 0px;
    padding: 0px;
}

.list-items {
    background-color: #00696C;
    width: 95%;
    border-radius: 10px;
    color: #ffffff;
    font-family: "Sans-Serif";
    font-weight: bold;
    list-style-type: none;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
}

.checkbox-input {
    width: 21px;
    height: 21px;
    margin-top: 14px;
    margin-right: 20px;
    margin-left: 10px;
}

.checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
}

.delete-icon-container {
    text-align: right;
    width: 18%;
}

.delete-icon {
    font-size: 20px;
    color: white;
    margin-top: 10px;
    margin-right: 5px;
    border-radius: 5px;
}

.checked {
    text-decoration: line-through;
}